.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-panel1 {
  text-align: center;
}

.score-panel2 {
  text-align: center;
}

img {
  height: 400px;
  width: 500px;
}